<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <table>
        <tr>
          <td>
              <a class="navbar-brand" href="#">
                  <img src="https://images.all-free-download.com/images/graphiclarge/book_icon_vector_green_background_280799.jpg" 
                    width="30" height="30" class="d-inline-block align-top" alt="">
                  <%= title %>
                </a>
          </td>
          <td>
              <a class="navbar-brand" href="/"><button class="btn btn-outline-success" type="button">Minha estante</button></a>
          </td>
        </tr>
      </table>
    </nav>
    <br>

    <div class="container">
      <div class="row">
        <div class="col">
          <!-- COLUNA 1 DE DOIS -->
          <img src="/upload/<%= doc._id %>.jpg" 
          alt="<%= doc._id %>" height="400px" width="250px">

          </br></br>
          <% if(doc._id != undefined) { %>
          <div class="form-group" wihth="80%">
            <form action="/imagem/<%= doc._id %>" method="post" enctype="multipart/form-data">

              <input type="file" name="filetoupload" value="oi"><br>
              <input type="submit" class="btn btn-primary" value="Enviar imagem">

            </form>
          </div>
          <%} else { %>
            <input type="submit" class="btn btn-primary" disabled="true" value="Cadastre o livro p/ enviar imagem">

          <% } %>
        <!-- FIM-->
        </div>
        <div class="col-8">
          <!-- COLUNA 2 DE TRES -->
          <form action="<%= action %>" method="POST">
              <% console.log(action) %>
            <div class="row">
              <!-- Título-->
              <div class="col-md-4 mb-3">
                  <label for="formTitulo">Título</label>
                  <input type="text" name="titulo" class="form-control" id="idTitulo" required 
                      placeholder="Ex: A menina que roubava livros" value="<%= doc.titulo %>">
                  <div class="invalid-feedback">
                    O título do livro é requerido.
                  </div>
                </div>
                <!-- Autor -->
                <div class="col-md-4 mb-3">
                  <label for="formAutor">Autor</label>
                  <input type="text" name="autor" class="form-control" id="idAutor" required
                      placeholder="Ex: Markus Zusak" value="<%= doc.autor %>">
                      <div class="invalid-feedback">
                          O nomde do(a) autor(a) do livro é requerido.
                      </div>                  
                </div>
            </div>
            <div class="row">
              <!-- Editora-->
              <div class="col-md-4 mb-3">
                  <label for="formEditora">Editora</label>
    
                  <select class="custom-select d-block w-100" placeholder="Ex: Intrínseca" 
                  id="idEditora" required name="editora" value="<%=doc.editora%>">
    
                    <% var options = ["Selecione uma opção", "Arqueiro", "Intrínseca", "Novo Conceito", "Globo", "Galera"]; 
    
                    var indicePalavra = 0;
    
                    options.forEach(function (item, indice, array) {
                        if(item == doc.editora) indicePalavra = indice;
                      });
                    
                    for(var i = 0; i < options.length; i++) { %>
                      <% if(indicePalavra == i) {%>
                        <option value='<%= options[i] %>' selected = "true"> <%= options[i] %></option>
                        <% } %>
                      <% if(indicePalavra != i) {%>
                        <option value='<%= options[i] %>''> <%= options[i] %></option>
                        <% } %>
                    <% } %>
    
                  </select>
    
                  <div class="invalid-feedback">
                    Please provide a valid value.
                  </div>
              </div>
            </div>
    
            <div class="row">
              <!-- Páginas-->
              <div class="col-md-2 mb-3">
                  <label for="formPaginas">Páginas</label>
                  <input type="number" name="paginas" class="form-control" id="idPaginas" required
                      placeholder="Ex: 584" value="<%= doc.paginas %>">
                  <div class="invalid-feedback">
                    O número de páginas do livro é requerido.
                  </div>
              </div>
              <!-- Gênero-->
              <div class="col-md-4 mb-3">
                  <label for="formGenero">Gênero</label>
                  <input type="text" name="genero" class="form-control" id="idGenero" required
                      placeholder="Ex: Romance" value="<%= doc.genero %>">
                  <div class="invalid-feedback">
                    O gênero do livro é requerido.
                  </div>
              </div>
            </div>
            <div class="row">
              <!-- Ano -->
              <div class="col-md-2 mb-3">
                  <label for="formAno">Ano</label>
                  <input type="number" name="ano" class="form-control" id="idAno" required
                      placeholder="Ex: 2005" value="<%= doc.ano %>">
                  <div class="invalid-feedback">
                      O ano de lançamento do livro é requerido.
                  </div>
              </div>
              <!-- Local na estante -->
              <div class="col-md-2 mb-3">
                  <label for="formLocal">Local</label>
                  <input type="text" name="local" class="form-control" id="idLocal" 
                      placeholder="Ex: D10" value="<%= doc.local %>">
              </div>
              <!-- ISBN -->
              <div class="col-md-4 mb-3">
                <label for="formLocal">ISBN</label>
                <input type="number" name="isbn" class="form-control" id="idisbn" 
                    placeholder="" value="<%= doc.isbn %>">
            </div>
            </div>
            <div class="row">
              <!-- Série -->
              <div class="col-md-4 mb-3">
                <label for="formSerie">Série</label>
                <input type="text" name="serie" class="form-control" id="idSerie" 
                    placeholder="Ex: Livro individual" value="<%= doc.serie %>">
              </div>
            </div>   
            
            <div class="row">
                <a href="/">
                  <button type="submit" class="btn btn-primary">Editar/Cadastrar</button>
                </a>
              </div> 
    
          </form>
          <!-- FIM 2 -->
        </div>

      </div>
  </div>





  </body>

</html>